#root {
  width: 100%;
  height: 100%;
}
#canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.dialog {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  padding: 1.5rem;
  z-index: 1000;
  width: min(100% - 5rem, 480px);
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  background-color: rgb(255, 255, 255, 0.95);
  backdrop-filter: blur(2px);
  box-shadow: 0.75rem 0.75rem 0 rgba(0, 0, 0, 0.5);
  outline: 0.25rem solid rgba(0, 0, 0, 1);

  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}
/* focused or hovered not on mobile*/
@media (hover: hover) {
  .dialog:focus-within,
  .dialog:hover {
    opacity: 1;
  }
}

.dialog * {
  margin: 0;
}
.dialog > h1 {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.1;
  color: #666;
}
.dialog > h2 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.25rem;
}
.dialog__body > code {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.1;
  color: #666;
  background-color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  white-space: pre-wrap;
}
.dialog__body {
  flex: 1;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  overflow: auto;
  max-height: 30vh;
  min-height: 0;
}

.dialog__button-container {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}
.dialog__button-container > button {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  background-color: #eee;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
